*,
*:before,
*:after {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
	font: inherit;
}
html {
	font-family: "Poppins", sans-serif;
	font-size: 62.5%;
}

:root {
	--primary-color: #ff6a59;
	--primary-hover: #ff3c26;
	--white-color: #fff;
	--gray--color: #eee;
}

select {
	appearance: none;
}
.btn {
	padding: 0.6rem 2.8rem;
	outline: none;
	border: none;
	border-radius: 0.6rem;

	font-weight: bold;
	font-size: 1.6rem;

	cursor: pointer;
	transition: all linear 0.1s;
}

.btn i {
	margin-right: 0.4rem;
}
.btn--primary {
	background-color: var(--primary-color);
	border-color: var(--primary-color);
	color: var(--white-color);
}
.btn.btn--primary:hover,
.content__btn:hover {
	background-color: var(--primary-hover);
	border-color: var(--primary-hover);
}
.btn--circle {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100rem;
	border: none;
	outline: none;
	width: 3rem;
	height: 3rem;
	padding: 0;

	cursor: pointer;
	transition: all linear 0.2s;
}
.btn.btn--white {
	background-color: var(--white-color);
	border: 0.1rem solid var(--primary-color);
	color: var(--primary-color);
}
.btn.btn--white:hover {
	background-color: var(--primary-hover);
	border-color: var(--primary-hover);
	color: var(--white-color);
}
.btn.btn--save {
	color: var(--white-color);
	background-color: #4cbc9a;
	border-color: #4cbc9a;
}
.btn.btn--cancel {
	color: var(--white-color);
	background-color: var(--primary-color);
	border-color: var(--primary-color);
}
.btn.btn--save:hover {
	opacity: 0.9;
}
.btn.btn--cancel:hover {
	background-color: var(--primary-hover);
	border-color: var(--primary-hover);
}
.stt-active {
	color: #14a44d !important;
}

.container {
	--gap-distance: 3.4rem;
	display: flex;
}
